# Python
__pycache__/
.pytest_cache/

# Temp and test files
backend/test.py
backend/src/rag/test_main.py
backend/src/rag/test.py
backend/src/ingestion/test.py

# Env
backend/mock_env/
backend/mock_api_env/
backend/.env
.env

# Data
backend/data/

# Misc
backend/dump.rdb
.vscode/


