# API Dependencies
alembic
asyncio
asyncpg
fastapi[standard]
httpx==0.28.1
passlib==1.7.4
pydantic==2.12.3
pydantic_settings==2.11.0
PyJWT==2.9.0
pytest==8.3.5
pytest_asyncio==0.21.1
redis==7.0.0
SQLAlchemy==2.0.44
authlib
itsdangerous